body {
  font-family: 'Source Code Pro', monospace;
  background-color: #2C2C2C;
  color: #D3D3D3;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/*fondo animau*/
.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #0d0d0d, #001f3f, #0d0d0d);
  z-index: -1;
  animation: bg-animation 10s infinite alternate;
}



@keyframes bg-animation {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

/* Estilo para el hada */
#hada {
  position: absolute;
  width: 300px;
  height: 300px;
  background-image: url("../img/hada.gif");
  background-size: cover;
  pointer-events: none;
  animation: volar 6s infinite ease-in-out;  /* Animación de vuelo */
  cursor: grab; /* Cambia el cursor al pasar sobre el hada */
}




@keyframes volar {
  0% {
      top: 50%;
      left: 50%;
  }
  25% {
      top: 10%;
      left: 90%;
  }
  50% {
      top: 90%;
      left: 80%;
  }
  75% {
      top: 30%;
      left: 10%;
  }
  100% {
      top: 50%;
      left: 50%;
  }
}




header {
  padding: 20px;
  text-align: center;
}

/* Term Hello World */

h1 {
  font-size: 2.5rem;
  color: #D3D3D3;
  text-shadow: 0 0 8px #00FF00, 0 0 3px #00FF07;
  animation: moving 5s infinite;
}

@keyframes moving {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(2px, -2px); }
  60% { transform: translate(-2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(10); }
}

typed {
  color: #00FF00;
}

/* Estilo para la lista de writeups */
/* Estilo base para todos los elementos <li> */
#writeups ul li {
  list-style: none; /* Elimina los marcadores predeterminados */
  margin: 10px 0; /* Espaciado vertical entre elementos */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  background-color: rgba(0, 0, 0, 0.1); /* Fondo semi-transparente */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Borde suave */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  font-size: 1.2em; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  transition: transform 0.2s ease, background-color 0.2s ease; /* Transición suave */
}

/* Cambios al pasar el ratón sobre un <li> */
#writeups ul li:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  background-color: rgba(0, 0, 0, 0.2); /* Cambia el color de fondo */
  cursor: pointer; /* Cambia el cursor a "mano" */
}

/* Separación adicional entre los ítems de la lista */
#writeups ul {
  padding: 0; /* Elimina el relleno predeterminado */
  margin: 0; /* Elimina el margen predeterminado */
}

/* Estilo para los enlaces dentro de los <li> */
#writeups ul li a {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Hereda el color del padre */
  display: inline-block; /* Hace que el enlace ocupe todo el espacio del <li> */
}

/* Efecto de hover para los enlaces dentro de los <li> */
#writeups ul li a:hover {
  color: #ff6f61; /* Cambia el color del texto al pasar el ratón */
}

/* Estilo para los íconos */
.icon-bigbang,
.icon-cat,
.icon-trickster,
.icon-titanic {
  width: 35px; /* Ajusta el tamaño */
  height: 35px;
  margin-left: auto; /* Alinea las imágenes a la derecha */
  vertical-align: middle; /* Alinea con el texto */
  transition: transform 0.2s ease; /* Agrega una transición suave */
}

/* Efecto de hover para los íconos */
#writeups ul li:hover img {
  transform: scale(1.2); /* Aumenta ligeramente el tamaño de la imagen */
}

/* Estilo base para todos los enlaces */


a {
  color: #ffffff; /* Color blanco para contraste */
  text-decoration: none; /* Quita el subrayado */
  font-family: 'IBM Plex Mono', monospace; /* Usa la misma fuente que el resto */
  transition: color 0.5s ease; /* Transición suave para cambios de color */
}

/* Cambio de color al pasar el ratón */
a:hover {
  color: #7e7e7e; /* Cambia a un tono más claro */
}

/* Enlaces encriptados */
a[data-encrypted="true"] {
  pointer-events: none; /* Desactiva interacción */
  opacity: 0.5; /* Añade transparencia */
}

/* fin de efecto*/

/* los putos ojos */
#rain-container {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Ignora interacciones del usuario */
  z-index: -2;
}

.gif-item {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Estilos para el contenedor de la calavera */
.calavera-shake {
  position: relative;
  display: inline-block;
  margin-top: 30px; 
}

/* Estilos para el GIF de la calavera */

.calavera-shake img {
  width: 150px; 
  height: auto;
  animation: none 1s infinite;
  mix-blend-mode: screen;
  opacity: 1;
  z-index: 1;
  
}

/* calavera invertida */
.invertida {
  mix-blend-mode: screen;
  background-color: transparent; /* Asegura que el fondo sea transparente */
  transform: scaleX(-1); /* Invierte la imagen horizontalmente */
  filter: invert(0); /* color en negativo */
  display: inline-block; /* Asegura que el transform se aplique correctamente */
  animation: shake 1s infinite ;
}




#writeups {
  position: relative;
  margin-bottom: 20px;
  background-color: rgba(10, 10, 20, 0.85);
  padding: 15px;
  border: 1px solid #0b60b4; /*azulito*/
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(20, 20, 77, 0.8);

}

.glitched-skull {
  position: absolute;
  background-color: transparent;
  mix-blend-mode: screen;
  bottom: 0;
  right: 0;
  width: 5cm; /* Ajusta el tamaño según sea necesario */
  height: auto;
  z-index: 1;
  opacity: 1;
}




#about {
  position: relative;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 15px;
  border: 1px solid #ffffff; /*negro*/
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(176, 176, 194, 0.8);
  zoom: 90%;
}

.glitched-skull2 {
  position: absolute;
  background-color: transparent;
  mix-blend-mode: screen;
  bottom: 0;
  right: 0;
  width: 4.5cm; /* Ajusta el tamaño según sea necesario */
  height: auto;
  transition: transform 0.2s ease; /* Suaviza el movimiento y el flip */
  z-index: 1;
  opacity: 1;
}

/*
@keyframes shake2 {
  0% {
    transform: translate(0) scaleX(-1);
  }
  25% {
    transform: translate(20px, 20px) scaleX(-1) rotate(10deg);
  }
  50% {
    transform: translate(-20px, -20px) scaleX(-1) rotate(-10deg);
  }
  75% {
    transform: translate(20px, -20px) scaleX(-1) rotate(10deg);
  }
  100% {
    transform: translate(0) scaleX(-1);
  }
}


/* Animación shake */
@keyframes shake {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(5px, -5px);
  }
  60% {
    transform: translate(-5px, 5px);
  }
  80% {
    transform: translate(-10px, -5px);
  }
  100% {
    transform: translate(0);
  }
}




main {
  padding: 20px;
  position: relative;
  z-index: 1;
}


/* Texto del fondo */
footer {
  background-color: #;
  color: #00;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #D3D3D3;
}


/* Goodnight! */

.Punpun-eyes-container {
  position: absolute; /* Posicionamiento absoluto */
  bottom: auto; /* Coloca el contenedor en la parte inferior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta el centro exacto */
  z-index: -2;
  
}
.punpuneyes img {
  max-width: 100%; /* Asegura que la imagen no se desborde */
  height: auto; /* Mantén la proporción */

}
.gif-background {
  position: fixed;
  mix-blend-mode: multiply;
  background-color: rgba(160, 5, 5, 0.911);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; /* Asegura que el fondo esté debajo de todo */
  opacity: 1; /* Ajusta la transparencia si es necesario */
}

.gif-background img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al tamaño del fondo */
}




